# Ignore macOS system files
.DS_Store

# Ignore Python bytecode and cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
image_scraping_env/

# Ignore backup files and temporary files
*.bak
*.swp
*.log

# Ignore image files (if you don't want to track them in the repository)
*.jpg
*.jpeg
*.png

# Ignore specific directories and files
backup_morel_images/
darknet/
flickr_images/
test_images/
test_labels/
train_images/
train_labels/

# Ignore notebook output and temporary files
*.ipynb_checkpoints
temp_image.jpg