# Ignore macOS system files
.DS_Store

# Ignore Python bytecode and cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
image_scraping_env/

# Ignore backup files and temporary files
*.bak
*.swp
*.log

# Ignore image files (if you don't want to track them in the repository)
*.jpg
*.jpeg
*.png

# Ignore specific directories and files
backup_morel_images/
backup2_morel_images/
flickr_images/
1morel_saved/
morel_images/
new_flickr_morel/
new_morel_images/
no_morel_images/
no_morel_images_small_file_size_from_download3_forest/
no_morel_images_test_backup/

# Ignore YOLO label directories
yolo_labels/

# Ignore notebook output and temporary files
*.ipynb_checkpoints
temp_image.jpg

# Ignore specific large files (if they exist)
master_morel
master_no_morel